.button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #34405A;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #e0e0e0;
}