.typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    margin-top: 150px;
}

.typing h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.typingText {
    font-size: 1.5rem;
    white-space: pre-wrap;
    position: relative;
    text-align: center;
}

.typingInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    z-index: -1;
}

.typingText span {
    display: inline-block;
}

.cursor {
    position: absolute;
    width: 3px;
    height: 0.8em;
    background-color: white;
    transition: left 0.1s ease-out;
    animation: blink 1s step-end infinite;
    top: 0;
}

@keyframes blink {
  from, to { background-color: transparent; }
  50% { background-color: white; }
}