.note-new-page {
  padding: 10px;
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  gap: 20px;
}
.new-note {
  padding: 20px 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 1px solid var(--sub-color);
  border-radius: 10px;
  background-color: var(--card-color);
}
.new-note>input {
  padding: 3px 10px;
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  color: var(--main-color);
}
.type-selector {
  display: flex;
  gap: 10px;
}
.type-selector .type-input {
  display: none;
}
.type-label.active {
  background-color: var(--sub-color);
  color: black;
}
.word-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 20px;
  min-width: 363px;
  max-width: 500px;
  min-height: 300px;
  background-color: var(--card-color);
  border: 1px solid var(--sub-color);
  border-radius: 10px;
}
.word-list .word-header {
  display: flex;
  border-bottom: 1px solid var(--sub-color);
  padding-bottom: 3px;
}
.word-list .word-header .word {
  text-align: center;
  width: 90px;
}
.word-list .word-header .meaning {
  text-align: center;
  width: 180px;
}
.word-list .word-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.word-list .word-item .word {
  width: 90px;
  margin-right: 3px;
}
.word-list .word-item .meaning {
  width: 180px;
}
.word-list .word-item .word p,
.word-list .word-item .meaning p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.word-list .word-item .word p {
  border-right: 1px solid var(--sub-color);
}